---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Welcome to GimmeWifi</h1>
  <p class="doc">
    <%= link_to "Fetch wifi passwords", "#fetch" %>
  </p><!-- .doc -->
</div><!-- .welcome -->