<div id="welcome" class="overlay">
  <h1>
    Welcome
  </h1>
  <img src="images/loader.gif">
  <h2>
    Getting your location now
  </h2>
</div>
<div id="venuelist" class="overlay">
  <h1>
    Select Venue
    <input type="search" placeholder="Search">
  </h1>
  <ul>
  </ul>
</div>
<div id="map_canvas">
</div>
